@model CreateGuideCommand
@{
    ViewData["Title"] = "AddGuides";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <h1 class="card-header">Yeni rehber ekleme sayfası</h1>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                @Html.Label("Ad-Soyad")
                <input type="text" asp-for="Name" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                @Html.Label("İnstagram Url")
                <input type="text" asp-for="InstagramUrl" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                @Html.Label("Twitter Url")
                <input type="text" asp-for="TwitterUrl" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                @Html.Label("Görsel")
                <input type="text" asp-for="Image" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                @Html.Label("Açıklama")
                <textarea cols="30" rows="5" class="form-control" asp-for="Description"></textarea>
            </div>
            <br />
            <button class="btn btn-outline-primary">Oluştur</button>
        </form>
    </div>
</div>