@model List<GetAllGuideQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="card">
    <h1 class="card-header">CQRS MediatR Rehber Listesi</h1>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>Görsel</th>
                    <th>Ad-Soyad</th>
                    <th>İnstagram Url</th>
                    <th>Twiter Url</th>
                    <th>Açıklama</th>
                    <th>Sil</th>
                    <th>Düzenle</th>
                </tr>
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td><img src="@item.Image" height="50" width="50" /></td>
                        <td>@item.Name</td>
                        <td>@item.InstagramUrl</td>
                        <td>@item.TwitterUrl</td>
                        <td>@item.Description</td>
                        <td><a href="/Admin/GuideMediatR/GetGuides/@item.GuideID" class="btn btn-outline-danger">Sil</a></td>
                        <td><a href="/Admin/GuideMediatR/GetGuides/@item.GuideID" class="btn btn-outline-success">Düzenle</a></td>
                    </tr>
                }
            </table>
        </div>
        <a href="/Admin/GuideMediatR/AddGuides/" class="btn btn-outline-primary">Yeni Rehber Girişi</a>
    </div>
</div>