@using EntityLayer.Concrete
@model List<Reservation>
@{
    ViewData["Title"] = "ReservationUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayac = 0;
}

<div class="card">
    <h1 class="card-header">Kullanıcı Geçmiş Rezervasyonları</h1>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>Misafir Ad-Soyad</th>
                    <th>Rota</th>
                    <th>Kişi Sayısı</th>
                    <th>Tarih</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        @{
                            sayac = sayac + 1;
                        }
                        <td>@sayac</td>
                        <td>@item.AppUser.Name @item.AppUser.SurName</td>
                        <td>@item.Destiantion.City</td>
                        <td>@item.PersonCount</td>
                        <td>@(((DateTime)item.ReservationDate).ToString("dd-MMM-yyyy"))</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>