@using EntityLayer.Concrete
@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Hakkımızda</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Anasayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Hakkımızda </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!-- /about-6-->
<section class="w3l-cta4 py-5">
    <div class="container py-lg-5">
        @foreach (var item in Model)
        {
            <div class="ab-section text-center">
                <h6 class="sub-title">Hakkımızda</h6>
                <h3 class="hny-title">@item.Title</h3>
                <p class="py-3 mb-3">
                    @item.Description
                </p>
            </div>
            <div class="row mt-5">
                <div class="col-md-9 mx-auto">
                    <img src="/userimages/@item.Image1" class="img-fluid">
                </div>
            </div>
        }
    </div>
</section>
<!-- //about-6-->
<!-- /content-6-->
<section class="w3l-content-6 py-5">
    <div class="container py-lg-5">
        <div class="row">
            @foreach (var item2 in Model)
            {
                <div class="col-lg-6 content-6-left pr-lg-5">
                    <h6 class="sub-title">Neden Biz?</h6>
                    <h3 class="hny-title">@item2.Title2</h3>
                </div>
                <div class="col-lg-6 content-6-right mt-lg-0 mt-4">
                    <p class="mb-3">
                        @item2.Description2
                    </p>
                </div>
            }
        </div>
    </div>
</section>
<!-- //content-6-->
<!-- stats -->
<section class="w3l-statshny py-5" id="stats">
    <div class="container py-lg-5 py-md-4">
        <div class="w3-stats-inner-info">
            <div class="row">
                <div class="col-lg-4 col-6 stats_info counter_grid text-center">
                    <span class="fa fa-smile-o"></span>
                    <p class="counter" style="text-align:center;">@ViewBag.v3</p>
                    <h4 style="text-align:center;">Mutlu Müşteriler</h4>
                </div>
                <div class="col-lg-4 col-6 stats_info counter_grid1 text-center">
                    <span class="fa fa-users"></span>
                    <p class="counter" style="text-align:center;">@ViewBag.v2</p>
                    <h4 style="text-align:center;">Rehberlerimiz</h4>
                </div>
                <div class="col-lg-4 col-6 stats_info counter_grid mt-lg-0 mt-5 text-center">
                    <span class="fa fa-database"></span>
                    <p class="counter" style="text-align:center;">@ViewBag.v1</p>
                    <h4 style="text-align:center;">Rotalarımız</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->